<div>
    <h2 id="page-heading">
        <span jhiTranslate="concesionarioApp.vehiculo.home.title">Vehiculos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vehiculo" [routerLink]="['/vehiculo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="concesionarioApp.vehiculo.home.createLabel">
            Create new Vehiculo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <!--New Buttton -> TodosFiltre-->
    <button id="field_todos" name="vehiculo_todos"
            class="btn btn-info float-right jh-create-entity create-vehiculo"
            (click)="getAllVehicles()">
        <span  jhiTranslate="concesionarioApp.vehiculo.home.all">Todos</span>
    </button>
    <!--TiposFiltre-->
    <select id="field_tipo" name="vehiculo_tipo"
            class="btn btn-info float-right jh-create-entity create-vehiculo"
            (change)="getVehiclesByType($event.target.value)">
        <option selected="true" disabled="disabled">
            <span  jhiTranslate="concesionarioApp.vehiculo.home.types">Tipos</span>
        </option>
        <!--CAMBIAR -> Recoger las opciones desde la BD
            ->Cambiar tipos a una entidad y no dejarlos como enum (No permite cambios dinamicos)
            ->Recorrer con un ngFor para crear los options
          -->
        <option value="COCHE">{{'concesionarioApp.Tipo.COCHE' | translate}}</option>
        <option value="MOTO">{{'concesionarioApp.Tipo.MOTO' | translate}}</option>
        <option value="PATINETE">{{'concesionarioApp.Tipo.PATINETE' | translate}}</option>
        <option value="BICICLETA">{{'concesionarioApp.Tipo.BICICLETA' | translate}}</option>
    </select>
    <!--New Buttton -> DisponiblesFiltre-->
    <button id="field_disponible" name="vehiculo_disponible" value="disponible"
            class="btn btn-info float-right jh-create-entity create-vehiculo"
            (click)="getAvailableVehicles($event.target.value)">
        <span  jhiTranslate="concesionarioApp.vehiculo.home.available">Disponibles</span>
    </button>
    <!--New Buttton -> NoDisponiblesFiltre-->
    <button id="field_no_disponible" name="vehiculo_no_disponible" value="noDisponible"
            class="btn btn-info float-right jh-create-entity create-vehiculo"
            (click)="getNotAvailableVehicles($event.target.value)">
        <span  jhiTranslate="concesionarioApp.vehiculo.home.notAvailable">No Disponible</span>
    </button>

    <div class="table-responsive" *ngIf="vehiculos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modelo"><span jhiTranslate="concesionarioApp.vehiculo.modelo">Modelo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipo"><span jhiTranslate="concesionarioApp.vehiculo.tipo">Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="precio"><span jhiTranslate="concesionarioApp.vehiculo.precio">Precio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="matricula"><span jhiTranslate="concesionarioApp.vehiculo.matricula">Matricula</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="marca"><span jhiTranslate="concesionarioApp.vehiculo.marca">Marca</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="concesionarioApp.vehiculo.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usado"><span jhiTranslate="concesionarioApp.vehiculo.date">Usado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vehiculo of vehiculos ;trackBy: trackId">
                <td><a [routerLink]="['/vehiculo', vehiculo.id, 'view' ]">{{vehiculo.id}}</a></td>
                <td>{{vehiculo.modelo}}</td>
                <td jhiTranslate="{{'concesionarioApp.Tipo.' + vehiculo.tipo}}">{{vehiculo.tipo}}</td>
                <td>{{vehiculo.precio}}</td>
                <td>{{vehiculo.matricula}}</td>
                <td>{{vehiculo.marca}}</td>
                <td>{{vehiculo.date | date:'mediumDate'}}</td>
                <td>{{vehiculo.usado}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/vehiculo', vehiculo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!--New Buttton -> PopUp detailsDialog-->
                        <button type="submit"
                                class="btn btn-success btn-sm"
                                (click)="viewModel(vehiculo)">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.viewModel">ViewModel</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vehiculo', vehiculo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <!--New Buttton -> PopUp updateDialog-->
                        <button type="submit"
                                class="btn btn-success btn-sm"
                                (click)="editModel(vehiculo)">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.editModel">EditModel</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'vehiculo', { outlets: { popup: vehiculo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="vehiculos && vehiculos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
